
<div class="card">
  <h1>Login</h1>
  <form class="mt-6" [formGroup]="formGroup">
    <div>
      <label>Username</label>
      <input type="text" class="input" formControlName="username">
    </div>
    <div class="mt-4">
      <label>Password</label>
      <input type="password" class="input" formControlName="password">
      <div class="error-text" *ngIf="error">{{error}}</div>
    </div>
    <div class="mt-4">
      <button class="btn btn-primary" (click)="login()">Login</button>
      <button class="btn btn-secondary ml-2" (click)="register()">Register</button>
    </div>
  </form>
</div>
